/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: auto;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    max-width: 100vw;
    min-height: 100vh;
    padding: 1em 0;
    background: hsl(0, 0%, 98%);
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

nav {
    position: absolute;
    background: hsl(0, 0%, 98%);
    top: 0;
    right: 0;
    padding: 1em 1.5em;
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    display: none;
}

.closebutton {
    margin-left: auto;
}

.first-nav {
    margin-right: auto;
    padding-top: 1.9em;
}

.first-nav > ul {
    display: none;
}

.sec-nav > ul {
    display: none;
}

nav > div > div {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

nav > div > div > p {
    font-size: 1.1em;
    transition: all 0.5s ease;
    cursor: pointer;
}

nav > div > div > p:hover {
    color: hsl(0, 0%, 8%);
}

nav > div > ul > li > a {
    font-size: 1.1em;
}

nav > div > ul > li {
    padding-bottom: 0.8em;
    padding-left: 0.5em;
}

.first-nav > ul > li:first-child {
    list-style: url(images/icon-todo.svg);
}

.first-nav > ul > li:nth-child(2){
    list-style: url(images/icon-calendar.svg);
}

.first-nav > ul > li:nth-child(3){
    list-style: url(images/icon-reminders.svg);
}

.first-nav > ul > li:last-child{
    list-style: url(images/icon-planning.svg);
}

.sec-nav {
    margin-right: auto;
}

.arr-up{
    display: none;
}

.arr-dw {
    display: ;
}

.sec-nav > ul > li {
    list-style: none;
    padding-left: 0;
    margin-left: -1em;
}

nav a {
    margin-right: auto;
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-size: 1.1em;
    padding-bottom: 1em;
    transition: all 0.5s ease;
}

nav a:hover {
    color: hsl(0, 0%, 8%);
}

.login {
    padding-top: 1em;
    padding-bottom: 1em;
}

.login > p {
    font-size: 1em;
    font-weight: 600;
    transition: all 0.5s ease;
}

.login > p:hover {
    color: hsl(0, 0%, 8%);
}

.register {
    padding: 0.4em 3.8em;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 41%);
    transition: all 0.5s ease;
}

.register:hover {
    border: 2px solid hsl(0, 0%, 8%);
}

.register > p {
    font-size: 1em;
    font-weight: 600;
    transition: all 0.5s ease;
}

.register > p:hover {
    color: hsl(0, 0%, 8%);
}

picture {
    padding: 0 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 0;
    gap: 0.5em;
}

.main-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.main-stuff h1 {
    font-weight: 700;
    padding-top: 1em;
    font-size: 2.3em;
    color: hsl(0, 0%, 8%);
}

.main-stuff > p {
    font-size: 1.1em;
    color: hsl(0, 0%, 41%);
    font-size: 500;
    padding: 0 1em;
}

.main-stuff div {
    color: hsl(0, 0%, 98%);
    background: hsl(0, 0%, 8%);
    padding: 0.5em 1.5em;
    border-radius: 13px;
    font-weight: 700;
    margin-top: 1em;
    transition: all 0.5s ease;
    border: 1px solid hsl(0, 0%, 8%);
}

.main-stuff div:hover {
    border: 1px solid hsl(0, 0%, 8%);
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

.foot {
    display: flex;
    align-items: center;
    padding: 2em 0em;
    gap: 2em;
}

.foot > img {
    width: 60px;
}

.foot > img:nth-child(2) {
    width: 45px;
}

.foot > img:first-child {
    width: 65px;
}

@media (min-width: 1200px) {
    body {
        max-height: 100vh;
    }

    header {
        justify-content: unset;
        padding: 0 2.5em;
        align-items: center;
    }

    .login {
        padding: 0;
        margin-left: auto;
        font-weight: 500;
        padding-right: 2em;
    }

    .login > p {
        font-weight: 600;
    }

    .register > p {
        font-weight: 600;
    }

    .register {
        padding: 0.5em 2em;
    }

    .menubutton {
        display: none !important;
    }

    .closebutton {
        display: none !important;
    }

    nav {
        display: flex !important;
        position: relative;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        width: 100%;
    }

    .first-nav {
        padding: 0;
        position: relative;
        margin: 0;
        padding-left: 2em;
        padding-right: 1em;
    }

    .sec-nav {
        padding: 0;
        position: relative;
        margin: 0;
        padding-right: 1em;
    }

    nav > div > div > p {
        font-size: 1em;
        font-weight: 600;
        padding: 0;
    }

    nav a {
        margin: 0;
        font-size: 1em;
        padding: 0;
        padding-right: 1em;
        font-weight: 600;
    }

    nav > div > ul {
        position: absolute;
        display: ;
        left: 0;
        top: 2.5em;
        border-radius: 12px;
    }

    .first-nav > ul {
        background: white;
        left: -1.8em;
        box-shadow: 0px 9px 20px 0px hsl(0, 1%, 65%);
        padding: 0.4em 1em;
        padding-left: 2.5em;
        display: none;
    }

    .sec-nav > ul {
        background: white;
        box-shadow: 0px 9px 20px 0px hsl(0, 1%, 65%);
        padding: 0.5em 0.5em;
        padding-left: 1.2em;
        display: none;
    }

    .sec-nav > ul > li {
        margin: 0;
    }

    nav > div > ul > li > a {
        font-size: 0.9em;
    }
    
    nav > div > ul > li {
        padding: 0.2em;
    }

    nav > div > div {
        padding: 0;
    }

    nav > div > div > p {
        padding: 0;
        margin: 0;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        width: 80%;
        margin: 0 auto;
        padding: 0 0.5em;
        padding-top: 5em;
        text-align: left;
        gap: 1em;
    }

    .main-stuff {
        text-align: left;
        align-items: flex-start;
        padding-right: 5em;
    }

    .main-stuff > h1 {
        font-size: 4.7em;
        padding: 0;
        line-height: 80px;
        padding-bottom: 0.5em;
    }

    .main-stuff > p {
        padding: 0;
        font-size: 1.3em;
        padding-bottom: 1.5em;
    }

    .main-stuff > div {
        padding: 0.8em 1.8em;
        margin: 0;
    }

    .main-stuff > div > p {
        font-size: 1.2em;
    }

    picture {
        grid-area: 1/2/3/3;
    }

    picture img {
        height: auto;
        width: 90%;
        margin-left: auto;
    }

    .foot {
        align-self: flex-end;
    }

    .foot > img {
        width: 80px;
    }
    
    .foot > img:nth-child(2) {
        width: 65px;
    }
    
    .foot > img:first-child {
        width: 105px;
    }
}